EASYSAVE_V2_0/EasySave/obj/
EASYSAVE_V2_0/EasySave/.vs/
EASYSAVE_V2_0/EasySave/bin/
EasySave_V1_1/EasySave/obj/
EasySave_V1_1/EasySave/.vs/
EasySave_V1_1/EasySave/bin/
CryptoSoft/obj/
CryptoSoft/.vs/
CryptoSoft/bin/
LoggerLib/obj/
LoggerLib/.vs/
LoggerLib/bin/